$primary-color: #565284;
.ANiStacks {
  // min-height: 100vh;
  overflow-x: hidden;
}
.headerANi {
  z-index: 50;
  width: 80px;
  background: $primary-color;
  top: 0;
  background: #565284;
  min-height: 100vh;
  position: fixed;
}
.navANi {
  padding: 25px 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(13, minmax(20px, 1fr))
}

.homeico {
  background: url('../../images/homeico.png') center center no-repeat;
}
.vaultico {
  background: url('../../images/vaultIco.png') center center no-repeat;
}
.gearico {
  background: url('../../images/settingsIco.png') center center no-repeat;
}
.searchico {
  background: url('../../images/searchIco.png') center center no-repeat;
}