.mainUni {
    font-size: 80px;
    background: #e9ecff;
    border-radius: 50%;
    min-height: 135px;
    min-width: 135px;
    cursor: pointer;
    transition: all .5s;
    user-select: none;
}
.mainUni:hover {
    background: #8484FF;
    transition: all .4s;
}
.activeBtn {
    background: #8484FF;
}
.mainUniHolder:nth-child(2) {
    font-size: 22px;
}
.react-date-picker__button {
    max-width: 200px;
}
.react-date-picker__button__input input {
    width: auto !important;
    border: solid 1px lightgrey;
}
.postDates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
}
.postProj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    padding: 15px;
}
.react-date-picker__clear-button {
    display: none;
}
.formProject {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.formProject h6, .formErr {
    display: flex;
    padding: 15px;
    align-items: center;
    font-weight: bold;
    color: red;
    justify-content: center
}
.roleBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addProjTitle {
    flex: 1 1 100%;
    text-align: center;
}