.mainUni {
    font-size: 80px;
    background: #e9ecff;
    border-radius: 50%;
    min-height: 135px;
    min-width: 135px;
    cursor: pointer;
    transition: all .5s;
    user-select: none;
}
.mainUni:hover {
    background: #8484FF;
    transition: all .4s;
}
.activeBtn {
    background: #8484FF;
}
.mainUniHolder:nth-child(2) {
    font-size: 22px;
}
.react-date-picker__button {
    max-width: 200px;
}
.react-date-picker__button__input input {
    width: auto !important;
    border: solid 1px lightgrey;
}
.postDates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
}
.postProj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    padding: 15px;
}
.react-date-picker__clear-button {
    display: none;
}
.formProject {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.formProject h6, .formErr {
    display: flex;
    padding: 15px;
    align-items: center;
    font-weight: bold;
    color: red;
    justify-content: center
}
.roleBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addProjTitle {
    flex: 1 1 100%;
    text-align: center;
}
.rc-slider-track {
    background: #635BBF !important;
}
.rc-slider-handle {
    border-color: #635BBF !important;
    margin-left: -12.5px !important;
    margin-top: -10px !important;
    width: 25px !important;
    height: 25px !important;
}
.rc-slider-handle:active {
    box-shadow:0 0 5px #817bc3 !important;
}
.rc-slider-handle:hover {
    border-color: #2b2571 !important;
}
textarea {
    min-height: 125px;
}
.roleCard {
    display: flex;
    background:#6257eae3;
    border-radius: 15px;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
}
.roleCard > h6 {
    flex: 1 1 50%;
}
.roleCard > h5 {
    flex: 1 1 100%;
}
.roleCard > p {
    flex: 1 1 100%;
}
.roleCard > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.roleCard > div > a {
    flex: 0 0 60% !important;
}
.roleCard > div > legend {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0  0 7px 0 ;
}
.alertCheck {
    background: rgba(175, 62, 45, 0.8) !important;
}
.roleEvents {
    display: flex;
    // width: 100%;
    justify-content: space-between
}
.successCheck {
    background: greenyellow !important;
}

input:checked ~ .switch-paddle {
    background: #6257eae3;
}
.boolFlex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}
.boolLabel {
    color: black;
    font-weight: 100;
}
.alertBox {
    background-color: transparent !important;
    padding: 0;
}
.alertBox:before {
    content: ' \25CF';
    font-size: 60px;
    color: red;
  }
.successBox {
    background-color: transparent !important;
    padding: 0;
}
.successBox:before {
    content: ' \25CF';
    font-size: 60px;
    color: greenyellow;
  }