.sidebar {
    position: relative;
    overflow: hidden;
    padding: 40px;
    padding-top: 60px;
    cursor: pointer;
    z-index: 150;
    align-items: center;
  }
  
  .sidebar:hover {
    will-change: transform;
  }
  
  .closeBtn {
    will-change: transform;
    min-height: 50px !important; 
    background: url('../../../../images/backicon.png') center center no-repeat;
  }
  
  #createStackBtn {
    color : white;
    font-size: 25px;
    transform: rotate3d(0, 1, 0, 180deg);
    user-select: none;
  }
  
  .toggle {
    position: absolute;
    margin: 40px;
    color: #dfdfdf;
    z-index: 100;
    font-size: 2em;
    cursor: pointer;
  }
  
  .middle {
    height: 100%;
  }

  #absoluteModal {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }