.myProjectsHeader {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
  padding: 0 10px 10px 10px;
}
.myProjectsHeader > h2 {
  color: #8484FF;
  display: flex;
  align-items: center;
}
.myProjectsHeader > img {
  max-height: 60px;
  margin: 0 0 10px 10px;
}
.projectTypes > div{
  outline: none;
}
.projectType {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 65px;
  min-height: 55px;
  z-index: 100 !important;
  transition: all .25s;
  cursor: pointer;
}
.projectFolder {
  max-height: 40px;
  max-width: 40px;
}
.projectFolderTitle {
  height: 100%;
  color: #8484FF;
  height: fit-content;
  margin: 0;
}
.projectFolderTitle:hover {
  opacity: 0.75;
  transition: all .2s;
}
.projectCategories {
  align-items: center;
}
.projectTitle {
  font-size: 120%;
  color: #8484FF;
}
.projectTitle:hover {
  transition: all .2s;
}
.dropDown {
margin: 18px 0 0 15px;
animation-name: stretch;
animation-duration: .7s;
align-items: center;
}
.folderContainer {
  border: linear-gradient(115deg, #5E50FF, lavender 180%) 1px;
}
.folderImg {
  max-height: 35px;
  max-width: 35px;
}
.folder {
  padding: 25px 0;

}
.folder:first-child {
  margin: 25px 0 0 0 !important;
}

.folderDir > div {
  align-self: flex-start;
}

.folderDir {
  align-content: flex-start;
  height: 100%;
  overflow: overlay;
}
.folderNames {
  display: flex;
  margin: auto auto auto 1em;
  font-size: 1.1em;
}
.folderNames span {
  color: black;
}
.folderNames span:hover {
  cursor: pointer;
  color: black;
}

.projectPage {
  height: 92vh;
}

.folderDir::-webkit-scrollbar-thumb {
    background: linear-gradient(115deg, #5E50FF, lavender 180%);
    border-radius: 105px;
}

.folderDir::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(115deg, #5E50FF, lavender 180%);
}

.folderDir::-webkit-scrollbar {
    width: .7rem;
    height: 1rem;
}

.folderDir::-webkit-scrollbar-corner {
    background-color: transparent;
}

.folderDir::-webkit-scrollbar-thumb:window-inactive {
    background: linear-gradient(115deg, #5E50FF, lavender 180%);
}

*::selection {
  background: lavender
}

@-moz-document url-prefix() {
  .folderDir {
    overflow-y:auto !important;
  }
  .folderContainer {
    overflow: none !important;
  }
}

.folderContainer {
  // border: solid 2px lavender;
  // border-radius: 6px;
  padding: 5px;
}
// .folderContainer {
//   position: relative;
// }
// .folderContainer:before, .folderContainer:after {
//   content: "";
//   position: absolute;
//   bottom: -3px;
//   left: -3px;
//   border-radius: 100px;
// }
// .folderContainer:before {
//   top: 100px;
//   width: 3px;
//   background-image: -webkit-linear-gradient(transparent, #5E50FF);
//   background-image: -webkit-gradient(linear, 0 90%, 0 0, from(#5E50FF), to(transparent));
// }
// .folderContainer:after {
//   right: -3px;
//   height: 3px;
//   background-image: -webkit-linear-gradient(left, #5E50FF, transparent);
//   background-image: -webkit-gradient(linear, 0 0, 90% 0, from(#5E50FF), to(transparent));
// }
