$primary-color: #565284;
.myProjectsHeader {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
  padding: 0 10px 10px 10px;
}
.myProjectsHeader > h2 {
  color: #8484FF;
  display: flex;
  align-items: center;
}
.myProjectsHeader > img {
  max-height: 60px;
  margin: 0 0 10px 10px;
}
.projectTypes > div{
  outline: none;
}
.projectType {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 65px;
  min-height: 55px;
  z-index: 100 !important;
  transition: all .25s;
  cursor: pointer;
  color: white;
}
.projectFolder {
  max-height: 40px;
  max-width: 40px;
}
.projectFolderTitle {
  height: 100%;
  color: #8484FF;
  height: fit-content;
  margin: 0;
}
.projectFolderTitle:hover {
  opacity: 0.75;
  transition: all .2s;
}
.projectCategories {
  align-items: center;
}
.projectTitle {
  width: 50%;
  color: $primary-color;
}
.projectTitle:hover {
  transition: all .2s;
}
.dropDown {
margin: 18px 0 0 15px;
animation-name: stretch;
animation-duration: .7s;
align-items: center;
}
.folderContainer {
  border: linear-gradient(115deg, #5E50FF, lavender 180%) 1px;
}
.folderImg {
  max-height: 35px;
  max-width: 35px;
  cursor: pointer;
}
.folder {
  padding: 25px 0;

}
.stack {
  cursor: pointer;
  z-index: 200;
}
.folder:first-child {
  margin: 25px 0 0 0 !important;
}

.folderDir > div {
  align-self: flex-start;
}

.folderDir {
  align-content: flex-start;
  height: 100%;
  overflow: overlay;
}
.folderNames {
  display: flex;
  margin: auto auto auto 1em;
  font-size: 1.4em;
}
.folderNames span {
  color: black;
}
.folderNames span:hover {
  cursor: pointer;
  transition: all .4s;
  color: black;
  color: #5E50FF;
}

.projectPage {
  height: 92vh;
}
.folder {
  outline: lavender;
}
.folderDir::-webkit-scrollbar-thumb {
    background: linear-gradient(115deg, #5E50FF, lavender 180%);
    border-radius: 105px;
}

.folderDir::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(115deg, #5E50FF, lavender 180%);
}

.folderDir::-webkit-scrollbar {
    width: .7rem;
    height: 1rem;
}

.folderDir::-webkit-scrollbar-corner {
    background-color: transparent;
}

.folderDir::-webkit-scrollbar-thumb:window-inactive {
    background: linear-gradient(115deg, #5E50FF, lavender 180%);
}

*::selection {
  background: lavender
}

@-moz-document url-prefix() {
  .folderDir {
    overflow-y:auto !important;
  }
  .folderContainer {
    overflow: none !important;
  }
}
.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0 0 20px;
}
.folderProjects {
  // color: rgb(132, 132, 255);
  color: #4f4f4f;
  cursor: pointer;
}

.folderProjects:hover {
  color: purple;
}


#prada {
  height: 85px;
  width: 85px;

}

.stackContainer {
  padding: 100px 100px;
}
.stackHeader {
  font-weight: bold;
  color: #565284;
}
.seeMore {
  align-self: center;
  opacity: 0.8;
  box-shadow: 0px 3px 5px lightgray;
}
.projectStacks {
  min-height: 250px;
  overflow-y: overlay;
  position: relative;
}
.stackProjects {
  background: url('../../images/pageicon.png') no-repeat;
  min-height: 180px;
  min-width: 180px;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.stack {
  background: url('../../images/stackicon.png') no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 5px;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frontStack {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: white;
}
.frontStack > h6 {
  text-align: center;
}
.backStack {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: -1;
  position: absolute;
  transform: rotate(3deg);
  background: lavender;
  box-shadow: 0px 3px 5px lightgray;
}
#userAvatar {
  max-width: 100%;
}
.headLink { 
  cursor: pointer;
}
