$primary-color: #565284;



.projectViewNav {
  display: grid;
  grid-template-columns: auto auto auto 9fr;
  grid-gap: 25px;
  // align-content: center
  // padding: 3em;
}
.projectViewBtn {
  min-height: 25px;
  min-width: 50px;
  box-shadow: 0px 3px 5px lightgray;
  border-radius: 50%;
  padding: 15px;
  outline: none;
}
.projectFilterBtn {
  background: url('../../images/filtericon.png') center center no-repeat;
}

.projectTitle {
  width: 50%;
  color: $primary-color;
}
.projectTitle:hover {
  transition: all .2s;
}
.stackContainer {
  padding: 0 100px;
}
.stackHeader {
  font-weight: bold;
  color: #565284;
  user-select: none;
}
.seeMore {
  align-self: center;
  opacity: 0.8;
  box-shadow: 0px 3px 5px lightgray;
}
.projectStacks {
  min-height: 250px;
  position: relative;
  user-select: none !important;
}
.stackProjects {
  background: url('../../images/pageicon.png') no-repeat;
  min-height: 180px;
  min-width: 180px;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.stack {
  background: url('../../images/stackicon.png') no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 5px;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frontStack {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: white;
}
.frontStack > h6 {
  text-align: center;
}
.backStack {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: -1;
  position: absolute;
  transform: rotate(3deg);
  background: lavender;
  box-shadow: 0px 3px 5px lightgray;
}
#userAvatar {
  max-width: 100%;
}
.headLink { 
  cursor: pointer;
}
