$primary-color: #565284;
.projectViewUpdateTitle {
  text-decoration: underline;
  color: #444
}
#emphasizeName {
  color: $primary-color;
}
.projViewFeedItem {
  display: flex;
}
.feedTxt {
  color: #666;
}
.projViewFeed {
  padding: .5em;
}
.feedTime {
  padding: 0 5px;
  color: #555
}
