.navANi {
  height: 8vh;
  justify-content: flex-end;
  background: linear-gradient(222deg, #000000, #272727 85%);
}
.profileNavInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profileAvatar {
  color: white;
  margin: 0 0 0 0;
  flex: 1 1 100%;
}
.profileCompany {
  color: #666;
  margin: 0;
  flex: 1 1 100%
}
#profileAvatar {
  margin: 15px;
}
.profileNav {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.searchANi {
  height: 2.5rem !important;
  margin:0;
}
.navANiLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navANiLink {
  color: white;
  cursor: pointer;
  margin: 0;
  font-size: 125%;
}
.navANiLink:hover {
  opacity: 0.7;
}
.ANiLogo {
  max-height: 58px;
  max-width: 58px;
  padding: 2.5px;
}
.notifications {
  max-height: 30px;
  max-width: 30px;
  cursor: pointer;
  align-self: center;
}
.notifications:hover {
  transition: all .2s;
  opacity: .5;
}
