.roleContainer {
  padding: 25px 10px 0 10px;
  border: solid #d6d6d6 1px;
  border-top: none;
  border-bottom: none;
}
.roleInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.downArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.roleHR {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
#downArrow:hover{
  opacity: .6;
}
.teamIdentity {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center
}
.roleDetails {
  color :#8d83ff;
  font-weight: 800;
}
.roleTitle {
  color: #565284;
  font-weight: 700;
}
.roleHead {
  color: #444;
  text-decoration: underline;
}