.unic {
height: 35px;
width: auto;
}
.projectViewCards{
  box-shadow: 0px 1px 6px 1.2px lightgray;
  border-radius: 15px;
  padding: 1.5em;
}
.projectDetails {
  color:gray;
  display: flex;
  align-items: center;
}
.unicode {
  font-size: 28px;
}
.projViewPremise {
  color: #555
}
