.projectHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  background: #FFFFFF;
  padding: 2em;
  margin: 0;
  border-radius: 25px;
  text-align: left;
  transform: scale(0.8);
  color: black;
}
.unic {
  font-size: 27px;
}
