.projectHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  background: #FFFFFF;
  padding: .5em 1.8em;
  margin: 0;
  border-radius: 25px;
  text-align: left;
  transform: scale(0.8);
  color: black;
}
.unic {
  font-size: 27px;
  height: 1.47em;
}
.projectDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.projTitle {
  padding: 0 !important;
  margin: 0;
}
